body, html {
    background-color: #eee;
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.city {
    position: relative;
    margin: auto;
    height: 25%;
    width: 100%;
    top: 10%;
    background-color: #bd8c7d;
}

.city-icon-holder {
    position: absolute;
    margin: auto;
    width: 50%;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#city-name {
    margin: auto;
    font-family: "Helvetica", serif, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #49494b;
}

.container {
    background: #bd8c7d;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5px;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.3)
}

.dont-break-out {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    color: #49494b;
}

.header {
    position: relative;
    margin: auto;
    height: 20%;
    min-height: 50px;
    max-height: 100px;
    background-color: #49494b;
    text-align: center;
}

#main {
    position: relative;
    height: 100%;
}

.search {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#search-btn {
    position: absolute;
    top: 20%;
    right: -22%;
    width: 40px;
    height: 40px;
    color: #eee;
}

#search-txt {
    color: #49494b;
    height: 30px;
    border-style: none;
    outline: none;
    padding-right: 1px;
    padding-left: 1px;
    text-align: center;
}

#temp {
    position: absolute;
    font-family: "Helvetica", serif, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: #49494b;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.temperature {
    position: relative;
    margin-top: 10px;
    height: 25%;
    width: 100%;
    background-color: #bd8c7d;
}
